{% load static %} {% load humanize %}
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Latest from Our Blog</h1>
                    <p>
                        With the exception of Nietzsche, no other madman has
                        contributed so much to human sanity as has.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% for post in posts %}
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <a href="{% url 'blog:blog-single' pid=post.id %}">
                            <img
                                style="width: 360px; height: 202.5px"
                                class="img-fluid"
                                src="{{post.image.url}}"
                                alt=""
                            />
                        </a>
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a
                                        href="{% url 'blog:blog-author' author_username=post.author.first_name %}"
                                        >By {{post.author.get_full_name}}</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        >Views: {{post.counted_views}}</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                {% for cat in post.category.all|slice:":5" %}
                                <a
                                    style="
                                    color: #222;
                                    -webkit-transition: all 0.3s ease 0s;
                                    -moz-transition: all 0.3s ease 0s;
                                    -o-transition: all 0.3s ease 0s;
                                    transition: all 0.3s ease 0s;
                                    }"
                                    href="{% url 'blog:blog-category' cat_name=cat %}"
                                    >{{ cat }}</a
                                >
                                {% if not forloop.last %}, {%endif%} {%endfor%}
                            </li>
                        </ul>
                        <a href="{% url 'blog:blog-single' pid=post.id %}"
                            ><h4 class="title">{{post.title}}</h4></a
                        >
                        <p>{{ post.content|truncatewords:10 }}</p>
                        <h6 class="date">
                            {{post.published_date|naturaltime}}
                        </h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
