{% extends "base.html" %} {% load static %} {% load home_posts %}
<br />
{% block content %}
<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">learn about coding!</h6>
                <h1 class="text-white">Dev Tech</h1>
                <p class="text-white">
                    Welcome to "Dev Tech", a tech blog dedicated to exploring
                    the vibrant and dynamic world of code and the community
                    surrounding it
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Exciting Tech Destinations</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor .
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img
                            class="img-fluid"
                            src="{% static 'img/d2.jpg' %}"
                            alt=""
                        />
                    </div>
                    <div class="desc">
                        <a
                            href="{% url 'blog:blog-category' cat_name='backend' %}"
                            class="price-btn"
                            >Search it</a
                        >
                        <h4>Backend</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img
                            class="img-fluid"
                            src="{%  static 'img/d3.jpg' %}"
                            alt=""
                        />
                    </div>
                    <div class="desc">
                        <a
                            href="{% url 'blog:blog-category' cat_name='wordpress' %}"
                            class="price-btn"
                            >Search it</a
                        >
                        <h4>WordPress</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img
                            class="img-fluid"
                            src="{%  static 'img/d1.jpg' %}"
                            alt=""
                        />
                    </div>
                    <div class="desc">
                        <a
                            href="{% url 'blog:blog-category' cat_name='frontend' %}"
                            class="price-btn"
                            >Search it</a
                        >
                        <h4>Frontend</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End popular-destination Area -->

<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Other issues we can help you with</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img
                            class="img-fluid"
                            src="{% static 'img/o1.jpg' %}"
                            alt=""
                        />
                    </div>
                    <a>
                        <h4>nuxt.js</h4>
                    </a>
                    <p>
                        sit amet, consectetur adipiscing elit Sed do eiusmod
                        tempor incididunt ut labore et...
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img
                            class="img-fluid"
                            src="{% static 'img/o2.jpg' %}"
                            alt=""
                        />
                    </div>
                    <a>
                        <h4>vue.js</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor...
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img
                            class="img-fluid"
                            src="{% static 'img/o3.jpg' %}"
                            alt=""
                        />
                    </div>
                    <a>
                        <h4>django</h4>
                    </a>
                    <p>
                        consectetur adipiscing elit.Sed do eiusmod tempor
                        incididunt ut labore et dolore...
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img
                            class="img-fluid"
                            src="{% static 'img/o4.jpg' %}"
                            alt=""
                        />
                    </div>
                    <a>
                        <h4>wordpress</h4>
                    </a>
                    <p>
                        ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End other-issue Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 col-md-12 home-about-left">
                <h1>
                    Did not find your Package? <br />
                    Feel free to ask us. <br />
                    We‘ll make it for you
                </h1>
                <p>
                    inappropriate behavior is often laughed off as “boys will be
                    boys,” women face higher conduct standards especially in the
                    workplace. That’s why it’s crucial that, as women, our
                    behavior on the job is beyond reproach. inappropriate
                    behavior is often laughed.
                </p>
                <a class="primary-btn text-uppercase">request custom price</a>
            </div>
            <div class="col-lg-6 col-md-12 home-about-right no-padding">
                <img
                    class="img-fluid"
                    src="{% static 'img/about-img.jpg' %}"
                    alt=""
                />
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->

<!-- Start blog Area -->
{% home_latest_post %}
<!-- End recent-blog Area -->
{% endblock %}
