{% load static %} {% load blog_tags %}

<div class="widget-wrap">
    <div class="single-sidebar-widget search-widget">
        <form
            class="search-form"
            action="{% url 'blog:blog-search' %}"
            method="GET"
        >
            <input
                placeholder="Search Posts"
                name="s"
                type="text"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Search Posts'"
            />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    {% include "./blog-writer.html" %}
    <br />
    {% latest_post %} {% include "./blog-ads.html" %} {% post_category %}
</div>
